version: 2
updates:
  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "monthly"
    groups:
      dev-dependencies:
        patterns:
          - "pytest*"
          - "flake8*"
          - "black"
          - "isort"
      examples:
        patterns:
          - "Pillow"
          - "httpx"
          - "customtkinter"
      docs:
        patterns:
          - "mkdocs*"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
    groups:
      github-actions:
        patterns:
          - "*"
