site_name: Async-tkinter-loop documentation

theme:
  name: "material"

plugins:
  - mkdocstrings

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences

nav:
  - Home: index.md
  - Installation: installation.md
  - Installation for development: development.md
  - Library API: api.md
  - Similar projects: similar_projects.md
