name: Documentation
on:
  push:
    branches:
      - master
      - main
    paths:
      - '.github/workflows/deploy-docs.yml'
      - 'pyproject.toml'
      - 'poetry.lock'
      - 'mkdocs.yml'
      - 'docs/**'
      - 'async-tkinter-loop/**'
  pull_request:
    branches:
      - master
      - main
    paths:
      - '.github/workflows/deploy-docs.yml'
      - 'pyproject.toml'
      - 'poetry.lock'
      - 'mkdocs.yml'
      - 'docs/**'
      - 'async-tkinter-loop/**'

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Install poetry
        run: pipx install poetry

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.x

      - name: Install dependencies
        run: poetry install --only docs

      - name: Build docs
        run: poetry run mkdocs build

      - name: Deploy docs
        if: github.event_name != 'pull_request'
        run: poetry run mkdocs gh-deploy --force
