name: Draft Release

on:
  workflow_dispatch:

jobs:
  build:
    name: Draft Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Install poetry
        run: pipx install poetry

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.x
          cache: "poetry"
          cache-dependency-path: poetry.lock

      - name: Install dependencies
        run: poetry install --without docs

      - name: Build project
        run: |
          poetry build
          echo "version=$(poetry version --short)" >> "$GITHUB_ENV"

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: dist/*
          tag_name: ${{ env.version }}
          draft: true
