name: Draft Release

on:
  workflow_dispatch:

jobs:
  build:
    name: Draft Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install poetry
        run: pipx install poetry

      - name: Get release version
        run: |
          echo "version=$(poetry version --short)" >> "$GITHUB_ENV"

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ env.version }}
          draft: true
          generate_release_notes: true
