name: Draft Release

on:
  workflow_dispatch:

jobs:
  build:
    name: Draft Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install poetry
      - name: Build project
        run: |
          poetry build
          echo "version=$(poetry version)" >> "$GITHUB_ENV"
      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          files: dist/*
          tag_name: ${{ env.version }}
          draft: true
