name: Deploy on pypi.org

on:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Install poetry
      run: pipx install poetry

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: 3.x
        cache: "poetry"
        cache-dependency-path: poetry.lock

    - name: Install dependencies
      run: poetry install --without docs

    - name: Build packages
      run: poetry build

    - name: Publish on pypi.org
      uses: pypa/gh-action-pypi-publish@v1.12.3
